# URL del API Backend Hania
VITE_API_URL=http://localhost:8000/api

# Configuración de Empresa Principal
VITE_APP_NAME="Cupper & Hannia"
VITE_COMPANY_RUC="20612955990"
VITE_COMPANY_NAME="CORPORACION DE SERVICIOS CUPPER & HANNIA E.I.R.L."
VITE_DEFAULT_BN_ACCOUNT=""
